<div class="container mt-5">
  <h2 class="text-center mb-4">Task List</h2>

  <div class="row">
    <div *ngFor="let task of tasks" class="col-md-4 mb-3">
      <div class="card shadow-lg rounded">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ task.title }}</h5>
          <p class="card-text">
            <strong>Status:</strong>
            <span class="badge" [ngClass]="getStatusClass(task.status)">
              {{ task.status }}
            </span>
            <br />
            <strong>Due Date:</strong> {{ task.dueDate }}<br />
            <strong>Priority:</strong> {{ task.priority }}<br />
            <strong>Description:</strong> {{ task.description }}
          </p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-warning" (click)="editTask(task)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="deleteTask(task.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
